<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale1">
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Product app</title>
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <product :premium="premium"></product>
            
                    <!--<div v-for="size in sizes">
                        <p>{{ size }}</p>
                    </div>-->
                    <!--<span v-if="true">On Sale!</span>-->
                    
                    <!--<button v-on:click="deleteFromCart">Delete</button>-->
                
                <!--<a v-bind:href="link">More products</a>-->
            
            <!--<p>{{ description }}</p>-->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>